@model List<Product>
@{
    ViewBag.Title = "Orders";
}

@foreach (var product in Model)
{

    <h3> @product.Name </h3>
    <div>@product.Price.ToString("C")</div>
    <div>@product.Quantity</div>
    <a href="~/home/product/@product.Id" class="btn btn-primary">View</a>
}