
@{
    ViewBag.Title = "Product";
}

<h2>Product
    Model.Name;
</h2>
    <div>Model.Price</div>
    <div> Model.Quantity</div>
<a href="~/Cart/add/Model.Id" class="btn btn-primary":Add to Cart></a>

