@model List<Product>
@{
    ViewBag.Title = "Products";
}

@foreach(var product in Model)
{
    <div>foreach(var product in Model)</div>
    <div> class="" </div>
    <h3> @product.Name </h3>
    <div>@product.Price.ToString("C") </div>
    <div>@product.Quantity</div>

    <a href="~/home/product/@product.Id" class="btn btn-primary">Buy</a>
}