@model Product
@{
    ViewBag.Title = "Product";
}

<h2>
    @Model.Name
</h2>
    <div>@Model.Price</div>
    <div> @Model.Quantity</div>
<img src="NerfGun.jpg" alt="Nerf Gun" height="20" width="20">
<a href="~/cart/add/@Model.Id" class="btn btn-primary":>Buy</a>

