
@{
    ViewBag.Title = "CheckoutDo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank You Come Again!</h2>

<img class="d-flex mr-3" src="http://galleriadallas.wpengine.netdna-cdn.com/wp-content/uploads/2014/07/logo1.png" alt="Generic placeholder image">
<div class="media-body">

</div>


<div class="col-md-5">
    <h2></h2>
    <p> </p>
    <p><a class="btn btn-primary" href="http://localhost/shop/Home/Index">Go Buy More &raquo;</a></p>
</div>