

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Buy. Do it. Do it.</h2>

@{decimal subTotal = 0; }
@{ decimal orderTotal = 0;}
@{ decimal itemTotal = 0;}

<table class="table">
    <tbody>
        @foreach (var order in Model.Orders)
        {
            subTotal += order.Quantity * order.Product.Price;
            itemTotal = order.Quantity * order.Product.Price;
            <tr>
                <td>
                    <img src="@order.Product.Image" class="icon-sm" style="width:100px;height:100px;border:0" />
                </td>
                <td>
                    <p>@order.Product.Name</p>
                </td>
                <td>
                    <p>Product Price: $@order.Product.Price</p>
                </td>
                <td>
                    <p>Number Of Items: @order.Quantity</p>
                </td>
                <td>
                    <p>Total Cost of Item: $@itemTotal</p>
                </td>
                <td>
                    <p>Subtotal: $@subTotal</p>
                </td>
            </tr>
        }
    </tbody>
</table>


@{orderTotal += subTotal + orderTotal; }
<table class="table">
    <tbody>
        <tr>
            <td>
                <h4>Forgetting Anything?</h4>
                <p> <a class="btn-sm btn-primary" href="http://localhost/shop/Products/Products">Back To Products &raquo;</a></p>
            </td>

            <td class="col-md-4">
                <a class="btn-sm btn-primary" href="http://localhost/shop/Cart/Clear">Clear All Items From Cart</a>
            </td>

        </tr>
    </tbody>
</table>
<table class="table">
    <tbody>
        <tr>
            <td>
                <h2>Checkout Time!</h2>
                <p>Order Total: $@orderTotal</p>
                <p> </p>
                <p><a class="btn btn-primary" href="http://localhost/shop/Cart/Checkout">Checkout &raquo;</a></p>
            </td>
        </tr>
        
    </tbody>
</table>

   