







<img class="d-flex mr-4" src="http://galleriadallas.wpengine.netdna-cdn.com/wp-content/uploads/2014/07/logo1.png" alt="Generic placeholder image">
<div class="media-body">
    <h1 class="mt-3"> Welcome to Spencer's Mega Store of Awesomeness!</h1>
</div>

<h2>If you need it, we have it! Any and all items you will ever need!</h2>
<p>Check out all of out items on our products page</p>
<p><a class="btn btn-primary" href="http://localhost/shop/Products/ProductListPartial">Shop All Items Now &raquo;</a></p>
<p> </p>
<p> </p>
<p>---------------------------------------------------------</p>
<p> </p>
<p> </p>
<h3> In a rush or know what you want? Use the links below to jump right to an item</h3>
<p> </p>
<p> </p>
<p> </p>
<div>
    <p> </p>
</div>

<div class="col-md-7">
    <img class="d-flex mr-4" src="https://s-media-cache-ak0.pinimg.com/236x/71/9e/d5/719ed549123bcadc1eafb5f1aacaeddd.jpg" alt="Generic placeholder image">
    <h3>Need to shoot something?</h3>
    <p> </p>
    <p><a class="btn btn-primary" href="http://localhost/shop/Products/NerfGun">Nerf Gun &raquo;</a></p> 
    <p> </p>
</div>

<div class="col-md-7">
    <img class="d-flex mr-4" src="http://newvoices.org/wp-content/uploads/2013/04/gty_anthony_weiner_kb_130410_wblog-400x225.jpg" alt="Generic placeholder image">
    <h3> Problem with Leaks?</h3>
    <p> </p>
    <p><a class="btn btn-primary" href="http://localhost/shop/Products/Depends">Depends &raquo;</a></p>
    <p> </p>
    <p> </p>
    <p> </p>
</div>

<div class="col-md-7">
    <img class="d-flex mr-4" src="http://www.insidemylaptop.com/images/MacBook-Pro-no-click/MBP-trackpad-repair-00.jpg" alt="Generic placeholder image">
    <h3>Tired of Touchpad?</h3>
    <p> </p>
    <p><a class="btn btn-primary" href="http://localhost/shop/Products/ComputerMouse">Computer Mouse &raquo;</a></p>
    <p> </p>
</div>

