
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cart</h2>

<img class="d-flex mr-3" src="https://i.kinja-img.com/gawker-media/image/upload/s--Qm3kGSkV--/c_fit,fl_progressive,q_80,w_636/1808cs9h1zc52jpg.jpg" alt="Generic placeholder image">
<div class="media-body">
    <h5 class="mt-3"> </h5>
</div>

<div class="col-md-5">
    <h2>Forgetting Anything?</h2>
    <p> </p>
    <p><a class="btn btn-primary" href="http://localhost/shop/Products/ProductListPartial">Back To Products &raquo;</a></p>
</div>

<div class="col-md-5">
    <h2>Checkout Time!</h2>
    <p> </p>
    <p><a class="btn btn-primary" href="http://localhost/shop/Checkout/Checkout">Checkout &raquo;</a></p>
</div>