

@using Shop.Models

<div class="container">
    <div class="row">
        @foreach (var customers in Model)
        {

            <div class="col-lg-6">
                <p>Name: @customers.Name</p>
                <p>Email: @customers.Email</p>
                <p><span style="font-size:20px;">@customers.Address_1</span></p>
                <p>
                    <button type="submit">@customers.Name</button>
                </p>
                <p> --------------------------------------- </p>

            </div>
        }
    </div>
</div>