@model Product
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-6 col-sm-offset-3">
    <form method="put" action="~/admin/products/edit">

        <input type="hidden" name="Id" />
        <div class="form-group">
            <label class="control-label">
                Name:
            </label>
            <input type="text" name="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">
                Price:
            </label>
            <input type="text" name="Price" class="form-control" />
        </div>

        <div class="form-group">
            <label class="control-label">
                Weight:
            </label>
            <input type="text" name="Weight" class="form-control" />
        </div>

        <div class="form-group">
            <label class="control-label">
                Quantity:
            </label>
            <input type="text" name="Quantity" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success">Change</button>

    </form>
</div>
