@model Transaction
@{ 
    ViewBag.Title = "TransactionsView";
}

<div class="row">
    <a href="~/cart/clear" class="btn btn-danger pull-right">Clear</a>
    <a href="~/cart/transactions" class="btn btn-success pull-left">Transactions</a>

    <table class="table">
        @{
            decimal subTotal = 0;
        }
        @foreach (var order in Model.Orders)
        {
            subTotal += order.Quantity * order.Price;
            <tr>
                <td>
                    @Model.Name
                </td>
                <td>
                    @order.Quantity * @order.Price
                </td>
                <td>
                    @subTotal
                </td>
            </tr>
        }
        <tr>
            <td><strong>Total</strong></td>
            <td colspan="3"></td>
            <td> @Model.Total</td>
        </tr>
    </table>

    <a href="~/cart/checkout-do" class="btn btn-success">Checkout</a>

</div>