
@{
    ViewBag.Title = "NerfGun";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NerfGun</h2>

<img class="d-flex mr-6" src="https://cdn.instructables.com/F5Q/5T40/GGK2APZ7/F5Q5T40GGK2APZ7.SMALL.jpg" alt="Generic placeholder image">
<div class="media-body">
    <h5 class="mt-3">R-9002</h5>
</div>

<div class="col-md-5">
    <h2>GET SOME</h2>
    <p>Easily destroy your target.</p>
    <p><a class="btn btn-primary" href="http://localhost/shop/Cart/Cart">Add To Cart &raquo;</a></p>
</div>