@model List<Product>
@{
    ViewBag.Title = "Products";
}

@foreach (var product in Model)
{

    <h3> @product.Name </h3>
    <div>@product.Price</div>
    <div>@product.Quantity</div>
    <a href="~/home/product/@product.Id" class="btn btn-primary">View</a>
}