@model List<Transaction>
@{
    ViewBag.Title = "Transactions";
}

<div class="row">

    <table class="table">
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.Orders</td>
                <td><strong>Total</strong></td>
                <td> @transaction.Total</td>
            </tr>
        }

    </table>

</div>