
@{
    Layout = null;
}

<div class="row">
    <a href="~/transactions" class="btn btn-danger pull-left">Transactions</a>

    <table class="table">
            <tr>
                <td>
                    Thanks for shopping!
                </td>
            </tr>
        }
    </table>
    <a href="~/cart/Checkout" class="btn btn-primary">Checkout</a>

</div>

