@model Transaction
@{
    Layout = null;
}

<div class="row">
    <a href="~/cart/clear" class="btn btn-danger pull-right">Clear</a>

    <table class="table">
        @{ decimal subTotal = 0; }
        @foreach (var order in Model.Orders)
        {
            subTotal += order.Quantity * order.Product.Price;
            <tr>
                <td></td>
                <td>
                    @order.Product.Name
                </td>
                <td>
                    @order.Quantity + 1
                </td>
                <td>
                    @subTotal
                </td>
                <td>
                    <a href="~/cart/remove/@order.Product.Id" class="btn btn-danger btn-block">Remove</a>
                </td>
            </tr>
        }
        <tr>
            <td><strong>Transactions</strong></td>
            <td colspan="3"></td>
            <td> @Model.Orders</td>
        </tr>
    </table>
    <a href="~/cart/Checkout" class="btn btn-primary">Checkout</a>

</div>
