@Model Product
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>


<div> @Model.Name</div>
<div> @Model.Price</div>
<div> @Model.SKU</div>
<a href="~/cart/add/@Model.Id" class="btn btn-primary">Add to Cart</a>


