@Model Product
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div>
    @Model.Name

</div>
<div> @Model.Price</div>
<div> @Model.SKU</div>
<a href="~/cart/add/@Model.Id" class="btn btn-primary">Add to Cart</a>
<a href="~/Products/Product/@Model.Id" class="btn btn-primary"><img class="media-object" src="@Model.IMG" style="width: 72px; height: 72px;"></a>

