@model List<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>

<table class="table">
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    @product.Name
                </td>
                <td>
                    @product.DescriptionOne
                </td>
                <td>
                    @product.Price
                </td>
                <td>
                    <a href="~/admin/products/@product.Id/edit" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a href="~/admin/products/@product.Id/delete" class="btn btn-danger">Delete</a>                 
                </td>
            </tr>
        }
        </tbody>
    </table>    
        <a href="~/admin/products/add"class="btn btn-success">Add</a>