@model List<Transaction>
@{
    ViewBag.Title = "Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transactions</h2>

@{decimal transactionTotal = 0; }

<table class="table">
    <tbody>
        @foreach (var transaction in Model)
        {
            transactionTotal += transaction.Total;
            <tr>
                <td>
                    @transaction.Id
                </td>
                <td>
                    $@transaction.Total
                </td>
                <td>
                    @transaction.TimeStamp
                </td>
            </tr>
        }
        <tr>
            <td style="font-weight:bolder">
               Transactions Total:
            </td>
            <td style="font-weight:bolder">
                $@transactionTotal
            </td>
        </tr>
    </tbody>
</table>